/*Poppins font import*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*Roboto font import*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
}
/*Admin Login*/
.login-body{
    background-color: #CEE3F5;
}

.top-bar{
    background-color: #1E3A8A;
}

.logo-header{
    display: flex;
    padding: 10px;
}

.top-bar-text{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    display: block;
    padding: 5px;
    color: white;
}

img{
    height: 75px;
    width: 75px;
    padding: 10px;
}

.main-content, .login-button, .forgot-password, .show-password{
    display: flex;
    justify-content: center; 
    
}

.login-section{
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F8FF;
    width: 824px;
    height: 486px;
    border-radius: 35px;
}

.login-input label{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #1E3A8A;
    display: block;
    font-size: 24px;
    margin-bottom: 8px;
}

.login-input button{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    background-color: #2563EB;
    border: #2563EB;
    border-radius: 20px;
    width: 343px;
    height: 54px;
    color: #CEE3F5;
    font-size: 16px;
    margin: 10px;
    font-size: 16px;
}

.login-email, .login-password{
    padding: 10px;
    margin: 10px;
}

.login-email .fa-solid, .login-password .fa-solid {
    position:absolute;
    padding: 10px;
    min-width: 30px;
    color: #1E3A8A;
}

input[type="email"], input[type="password"]{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    width:500px;
    height: 2px;
    padding: 16px;
    padding-left: 50px;
    border-radius: 10px;
    border-color: #D9D9D9;
}

input[type="checkbox"]{
    padding: 5px;
    margin-left: 440px;
    margin-bottom: 10px;
}

.login-button .fa-solid{
    margin-right: 5px;
}

.forgot-password a{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    text-decoration: none;
    color: black;
    margin-top: 0;
}

/*Admin Dashboard*/
.admin-dashboard{
    height: 100vh;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 130px 1fr;
    grid-template-areas:
    "side header"
    "side main"
    ;
}

.admin-header{
    grid-area: header;
    padding: 5px;
}

.admin-sidebar{
    background-color: #1E3A8A;
    grid-area:side;
}

.sidebar-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-logo img{
    margin-top: 20px;
    height: 200px;
    width: 200px;
}

.admin-header-text{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    padding: 20px;
    font-size: 40px;
    margin-top: 15px;

}

.admin-sidebar ul{
    list-style: none;
    padding: 20px;
    margin: 10px;
}

.nav-item{
    padding: 20px;
}

.sidebar-nav span, i{
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    width:500px;
    font-size: 24px;
    padding: 4px;
}

.admin-main{
    padding: 25px;
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 35px;
    margin: 15px;
}

.banner-card{
    grid-column: 1/3;
    grid-row: 1/2;
    background-color: #6E7BED;
    border-radius: 20px;
    padding: 40px;
    
}

.employee-card{
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: #dfe0ed;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 480px;
    height: 139px;
    margin-left:120px;
}

.admin-main .fa-solid{
    height: 20px;
    width: 20px;
    color: #1E3A8A;
}

.admin-main h1, .admin-main h4{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
}

.admin-main label{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    margin: 20px;
}

.admin-main h3{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 46px;
    margin: 20px;
}

.applicant-card{
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: #dfe0ed;
    border-radius: 20px;    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 480px;
    height: 139px;
    margin-left:120px;
}

.request-card{
    grid-column: 1/2;
    grid-row: 3/4;
    background-color: #dfe0ed;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 480px;
    height: 139px;
    margin-left:120px;
}

.hiring-card{
    grid-column: 2/3;
    grid-row: 3/4;
    background-color: #dfe0ed;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 480px;
    height: 139px;
    margin-left:120px;
}

.recent-job-post-header{
    background-color: white;
    grid-column: 1/3;
    grid-row: 4/5;
}

.recent-job-post-card{
    grid-column: 1/3;
    grid-row: 5/6;
    background-color: #6E7BED;
}

.newly-hired-header{
    grid-column: 1/3;
    grid-row: 6/7;
    background-color: white;
}

.newly-hired-card{
    grid-column: 1/3;
    grid-row: 7/8;
    background-color: #6E7BED;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "newly-hired-1 newly-hired-2";
}

.sub-newly-hired-card{
    background-color: #D9D9D9;
    grid-area: newly-hired-1;
}

.sidebar-nav .nav-link{
    color: black;
    text-decoration: none;
}